<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link href="/css/dashboard.css" rel="stylesheet" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.20.0/ckeditor.js"
      integrity="sha512-BcYkQlDTKkWL0Unn6RhsIyd2TMm3CcaPf0Aw1vsV28Dj4tpodobCPiriytfnnndBmiqnbpi2EelwYHHATr04Kg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <header
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
    >
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"
        >Ali Jahankah</a
      >
      <button
        class="navbar-toggler position-absolute d-md-none collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <input
        class="form-control form-control-dark w-100 rounded-0 border-0"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="/user/logout">Sign out</a>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row">
        <%- include("../privet/sidebar.ejs") %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><%- body %></main>
      </div>
    </div>
    <script>
      CKEDITOR.replace("body");
    </script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
    <% if(path==="/dashboard/new-post"){ %>
    <script src="/js/upload.js"></script>
    <% } %>
  </body>
</html>
